.wrap{
    width: 1200px;
    margin: 0 auto;
}
.h1{
    font-size: 40px;
}
.h2{
    font-size: 28px;
}
.h3{
    font-size: 20px;
}
.h4{font-size: 18px;

}
.h5{font-size: 16px;

}
.h6{

}
.p{
    font-size: 14px;    
}
.block{
    display: block;
}
.bold{
    font-weight: 700;
}
.paddingT50{
    padding-top: 50px;
}
.paddingB50{
    padding-bottom: 50px;
}
.marginB40{
    margin-bottom: 40px;
}
.marginT40{
    margin-top: 40px;
}
.current{
    background-color: #333333 !important;
    color: #fff !important;
}
.flex{
    display: flex;
}
.hide{
    display: none;
}
/* a태그 h3 스타일 */
.blue{
    background-color: #eef3ff;
    color: #1c316e;
}
.red{
    background-color: #fbe7ef;
    color: #972854;
}
.green{
    background-color: #e1f1d9;
    color: #4c7b38;
}
.purple{
    background-color: #e4e4ff;
    color: #4944e1;
}